body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav.navbar-inverse_my_nav_bar {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

nav.navbar-inverse_my_nav_bar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav.navbar-inverse_my_nav_bar a:hover {
    background-color: #777;
}

ul.verymossycow {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F6F6F6
}

img.image {
    float: left;
    height: 52px
}

iframe.googlemaps {
    height: 450px;
    width: 1080px;
}

button.navbar-toggle {
    color: #333333
}

button.button1 {
    background-color: #333;
}

button.button2 {
    background-color: #333;
}

button.button3 {
    background-color: #333;
}

button.button4 {
    background-color: #333;
}